<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7" />
    </startup>
	<appSettings>
		<add key="inputFileNameRel" value=""/>
		<add key="compareFileNameRel" value=""/>
		<add key="readFileNameRel" value=""/>
		<add key="ck11EndPoint" value="https://ck11-odu-23b.pl23b.lcl"/>
		<add key="ck11TokenEndPoint" value=":9443/auth/nego/token"/>
		<add key="ck11MeasurWriteEndPoint" value="/api/public/measurement-values/v2.1/numeric/data/write"/>
		<add key="ck11MeasurWriteEndPoint" value="/api/public/measurement-values/v2.1/numeric/data/write"/>
		<add key="obmVariables" value="cТИ35"/>
	</appSettings>
</configuration>